.container{
    margin:100px;
    /* border:10px; */
    width:100%;

}
.act4,.act1,.act2,.act3{
    /* border:10px; */
    width:300px;
   display: inline-block;
}
img{
    width:100%;
    padding: 10px;
}
h3,p,h6{
text-align: center;
padding: 10px;
}

